* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, lightblue, aquamarine);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.left {
    padding: 40px;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: aquamarine;
    outline: none;
}

button {
    padding: 15px;
    background-color: aquamarine;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: lightblue;
    transform: scale(1.05);
}

.messages {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    text-align: center;
}

.messages li {
    color: red;
    margin: 10px 0;
}
.line{
    margin-top: 16px;
}
a{
    text-decoration: none;
    color: #333;
}
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}
